
</body>
<style>
#textFooter
    {
        font-size:2rem;
    }
footer
    {
        background-color: rgba(40, 60, 74, 0.2) !important;
    }
a.me:nth-child(1)
    {
        color: #1DA1F2 !important;
        font-size:3rem;
    }
a
{
    margin-right:16px !important;
}
a:hover
    {
        text-decoration:none !important;
        color:white !important;
    } 
a.me:nth-child(1):hover
    {
        text-decoration:none !important;
        color:white !important;
    }
a.qasimIsTheTrueCEO:hover
    {
        text-decoration:none !important;
        color:maroon !important;
    }
</style>
<footer style="margin-top:100px;"class="page-footer font-small blue">
<span id="textFooter">
    <div class="footer-copyright text-center pt-5">© 2019 Copyright product by :
        <a class="me" href="https://qasim31wani.wixsite.com/infinitum">Finna</a>
  <div class="footer-copyright text-center py-3">
        <a href="https://www.facebook.com/qasim.wani.9066"><i class="linksToCompanies fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/qasimwani/"> <i class="linksToCompanies fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/qassywani/"> <i class="linksToCompanies fab fa-instagram"></i></a>
    <div>
      <p class="lead footer-copyright text-center py-3">
          <a class="me contact" href="mailto:teamfinna@finna.space">Contact us</a></p>
    </div>
  </div>
</div>
</span>
</footer>
</div>
<script>
    $(document).ready(function () {
    $('div.alert').fadeOut(16200, function(){
       console.log("Successfully logged user out!");
    });
});
</script>
<script>
 $(document).ready(function() {
                $(window).scroll(function() {
                    if ($(document).height() <= Math.round(($(window).height() + $(window).scrollTop()))) {
                        console.log("IT WORKS!!!");
                       Swal.fire({
                          type: 'info',
                          title: 'Join Finna now',
                          text: 'Click to join Finna',
                          showConfirmButton: false,
                          footer:'<a class="qasimIsTheTrueCEO" href="/">Join Finna now!</a>'
                        })
                    }
                });
            });  
    function dynamicEmailUsernameCrossReferenceSynchronization()
    {
      $("#userEmailAddress").keyup(function(){
         $("#usernameOfUserFromCrossSynchronizationOfEmailAddress").val($("#userEmailAddress").val().split("@")[0]);
      });
    }
    var $nav = $("#finnaNavbar");
        $(function () {
            $(document).scroll(function () {
                $nav.toggleClass("bg-danger", $(this).scrollTop() > $nav.height());
                $nav.toggleClass("navbar-dark", $(this).scrollTop() > $nav.height());
            });
        });

$(window).scroll(function() {
    if ($(this).scrollTop()>=1)
     {
        $('.options').hide(1000);
     }
    else
     {
      $('.options').show(1000);
     }
})
</script>
</html>

